<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Home Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<header>
    <h1 th:text="${title}">Home Page</h1>
    <div id="logout-button">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</header>
<main>
    <div id="content">
        <div id="games-list">
            <h2>Games</h2>
            <ul>
                <li th:each="game : ${games}">
                    <h2 th:text="${game.gameTitle}">League</h2>
                    <span th:text="${game.homeTeam + ' vs ' + game.awayTeam}">Game Detail</span>
                    <ul>
                        <li th:each="oddsEntry : ${game.oddsEntries}">
                            <span th:text="${oddsEntry.marketType}">Market Type</span>
                            <ul>
                                <li th:each="outcome : ${oddsEntry.outcomes}">
                                    <button th:text="${outcome.name} + ': ' + ${outcome.price}"
                                            th:attr="data-bettype=${oddsEntry.marketType}, data-odds=${outcome.price}, data-gameId=${game.id}, data-game-detail=${game.homeTeam + ' vs ' + game.awayTeam}, data-outcome-name=${outcome.name}"
                                            onclick="selectBet(this)">
                                    </button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="selected-bets">
            <h2>Selected Bets</h2>
            <ul id="bets-list"></ul>
            <button onclick="placeBets()">Place Bet</button>
        </div>
    </div>
</main>
<footer>
    <p>&copy; 2024 Dugimto</p>
</footer>
<script>
    function getCsrfToken() {
        return $('meta[name="_csrf"]').attr('content');
    }

    function getCsrfHeader() {
        return $('meta[name="_csrf_header"]').attr('content');
    }

    function selectBet(button) {
        var gameDetail = $(button).data('game-detail');
        var betType = $(button).data('bettype');
        var odds = $(button).data('odds');
        var outcomeName = $(button).data('outcome-name');
        var gameId = $(button).data('gameid');
        var betId = gameDetail.replace(/\s+/g, '-') + '-' + outcomeName.replace(/\s+/g, '-');

        if ($("#" + betId).length === 0) {
            var betHtml = `<li id="${betId}" data-gameid="${gameId}" data-game-detail="${gameDetail}" data-bettype="${betType}" data-outcome-name="${outcomeName}" data-odds="${odds}">
                            ${gameDetail} - ${betType}: ${outcomeName} - ${odds}
                            <input type="number" placeholder="Amount" />
                            <button onclick="removeBet('${betId}')">Remove</button>
                           </li>`;
            $("#bets-list").append(betHtml);
        }
    }

function removeBet(betId) {b
    $("#" + betId).remove();
}

function placeBets() {
    var bets = [];
    $("#bets-list li").each(function() {
        var gameId = $(this).data('gameid');
        var gameDetail = $(this).data('game-detail');
        var betType = $(this).data('bettype');
        var outcomeName = $(this).data('outcome-name');
        var amount = $(this).find("input").val();
        var odds = $(this).data('odds');

        bets.push({
            gameId: gameId,
            gameDetail: gameDetail,
            marketType: betType,
            prediction: outcomeName,
            stake: amount,
            odds: odds
        });
    });

    console.log(bets); // For debugging purposes

    // Example of sending the bets to a backend endpoint
    $.ajax({
        url: '/bets/new',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(bets),
        beforeSend: function(xhr) {
            xhr.setRequestHeader(getCsrfHeader(), getCsrfToken());
        },
        success: function(response) {
            alert('Bets placed successfully!');
            // Clear the bets list
            $("#bets-list").empty();
        },
        error: function(error) {
            alert('Error placing bets: ' + error.responseText);
        }
    });
}
</script>
</body>
</html>

